

<style>
    .content {
      max-width: 500px;
      margin: auto;
    }
</style>
   
<div class = "content">
<html>
    <body style="background-color: cadetblue;">

<h1 style = "color:rgb(225, 255, 0);"> My To-Do List</h1>

<form action ="/addTodoItem/" method = "post" > {% csrf_token %} 
    <input type = "test" name = "content">
    <input type = "submit" value = "Add Todo Item">
</form>



<ul>
    {% for i in all_items %} 
    <li> {{i.content}}
        <form action = "/deleteTodoItem/{{i.id}}/" method = "post"> {% csrf_token %}
            <input type = "submit" value = "Delete">
        </form>
    </li>
    {% endfor %}

</ul>
</div>
</body>
</html>