

<style>
    
    .content {
      max-width: 500px;
      margin: auto;
      font-family:cursive;
    }
    h1 { font-family:cursive;}
    .button{
        border-radius: 4px;
    }
</style>
   
<div class = "content">
<html>
    <body style="background-image:linear-gradient(to top,rgb(255, 6, 255), rgb(83, 26, 124),rgb(255, 6, 255));">

<h1 style = "color:white",> My To-Do List</h1>

<form action ="/addTodoItem/" method = "post" > {% csrf_token %} 
    <input type = "test" name = "content">
    <input type = "submit" value = "Add Todo Item">
</form>



<ul>
    {% for i in all_items %} 
    <li> {{i.content}}
        <form action = "/deleteTodoItem/{{i.id}}/" method = "post"> {% csrf_token %}
            <input style = "background-color:rgb(133, 42, 124)" type = "submit" value = "Delete">
        </form>
    </li>
    {% endfor %}

</ul>
</div>
</body>
</html>