

<style>
    
    .content {
      max-width: 500px;
      margin: auto;
      font-family:cursive;
    }
    h1 { font-family:cursive;}
    .button{
        border-radius: 4px;
    }

</style>
<style>
    body {
      background-image: linear-gradient(to top,rgb(255, 6, 255), rgb(255, 251, 0),rgb(255, 6, 255));
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
<div class = "content">
<html>
    <body>

<h1 style = "color:white",> My To-Do List</h1>

<form action ="/addTodoItem/" method = "post" > {% csrf_token %} 
    <input type = "test" name = "content">
    <input type = "submit" value = "Add Todo Item" onclick = "abc()">
</form>



<ul>
    {% for i in all_items %} 
    <li> {{i.content}}
        <form action = "/deleteTodoItem/{{i.id}}/" method = "post"> {% csrf_token %}
            <input style = "background-color:rgb(255, 247, 0)" type = "submit" value = "Delete">
        </form>
    </li>
    {% endfor %}

</ul>
</div>
</body>

<script>
    var xyz = document.getElementsByName('content');
    function abc(){
        // alert('This is an alert')
        console.log("Alert Message")
    }
</script>

</html>